@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0%;
    font-size: 14px;
    font-family: sans-serif;
}

svg {
    color: black;
}

a {
    text-decoration: none;
}

button {
    background-color: white;
    border: none;
}

header {
    height: 56px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    margin: 0%;
    position: sticky;
    top: 0%;
}

header .start {
    height: 56px;
    width: 169px;
    display: flex;
    flex-direction: row;
}

header .start .search-container {
    display: flex;
    flex-direction: row;
}

.search_with_cancelbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .center {
    height: 40px;
    width: 732px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

header .center .search-container {
    width: 640px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-button {
    display: none;
}

header .end {
    width: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .end .create {
    width: 97px;
    height: 36px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
}

header .end .create .create_text {
    font-family: sans-serif;
}

header button {
    height: 40px;
    width: 40px;
}

header button div {
    padding: 8px 0px;
}

header .logo {
    height: 20px;
    width: 93px;
    padding: 18px 14px 18px 16px;
}

header img {
    height: 32px;
    width: 32px;
}

.icon {
    height: 24px;
    width: 24px;
}

.page_guider {
    display: flex;
    height: 100vh;
}
.flex-item{
    height: 100%;
    overflow: auto;
}

.page_guider span {
    width: 132px;
    height: 20px;
}


main {
    width: 1345px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-bar {
    position: sticky;
    top: 7.5%;
}

.sidebar_navigation {
    width: 15vw;
    height: 100%;
    overflow: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
    position: fixed;
    top: auto;
    left: 0;
    z-index: 1000;
}

.sidebar_navigation span {
    display: flex;
    align-items: center;
    color: black;
}

.sidebar_navigation .nav-section_home_tab {
    width: auto;
    height: auto;
    padding: 12px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}

.sidebar_navigation .nav-section_home_tab .home_you {
    padding-top: 12px;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: lightgray;
    margin-top: 1px;
}

.sidebar_navigation .nav-section {
    width: auto;
    height: auto;
    padding: 12px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
}

.nav_header_text {
    padding: 12px 6px 12px 4px;
}

.sidebar_navigation .nav-section img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.sidebar_navigation .footer-links_one {
    padding: 16px 24px 0px 24px;
}

.sidebar_navigation .footer-links_two {
    padding: 24px 12px 0px 24px;
}

.sidebar_navigation .footer-links a {
    margin-right: 8px;
}

.sidebar_navigation .copyright {
    padding: 24px 16px 16px 24px;
}

.nav-item {
    width: 180px;
    height: 40px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    top: auto;
    left: 15rem;
}

main .category-filter {
    display: flex;
    flex-direction: row;
    gap: 1%;
    flex-wrap: nowrap;
    position: fixed;
}

main .category-filter button {
    height: 32px;
    width: auto;
    padding: 0px 12px;
    font-size: 14px;
    border-radius: 10px;
    background-color: whitesmoke;
}

main .videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 3rem;
}
