body {
  margin: 0;
  font-family: sans-serif;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 56px;
  position: sticky;
  top: 0;
  background: #fff;
}

header .start,
header .center,
header .end {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header .youtube-logo {
  width: 90px;
}

header .center {
  flex: 1;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  max-width: 600px;
  flex: 1;
  position: relative;
}

.search-container input {
  flex: 1;
  height: 40px;
  padding: 0 40px 0 12px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 20px 0 0 20px;
  font-size: 16px;
}

#cancelButton {
  display: none;
  position: absolute;
  right: 70px;
  top: 0;
  bottom: 0;
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.search-container > button.search-submit {
  height: 40px;
  width: 64px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 20px 20px 0;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.microphone {
  margin-left: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .end button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 6px;
}

header .end .create {
  border-radius: 20px;
  background: #f2f2f2;
  padding: 6px 12px;
  gap: 0.3rem;
}

.profile-picture img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.watch-container {
    display: flex;
    justify-content: center;
}

.watch-page {
  gap: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
}

.watch-left {
  flex: 2.5;
  display: flex;
  flex-direction: column;
}

.watch-right {
  display: flex;
  gap: 0.75rem;
}

#player {
    width: 853px;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.recommended-card {
  max-width: 350px;
  display: flex;
  text-decoration: none;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.recommended-card img {
  width: 168px;
  height: 94px;
  border-radius: 8px;
  object-fit: cover;
  flex-shrink: 0;
}

.recommended-card p {
  font-size: 14px;
  margin: 0;
  line-height: 1.3;
}